pre
{
  border-style:solid;
  border-width:1px;
  border-color: #333333;
  background-color: #eee;
  padding:0.5em;
  margin-left:1em;
  width:80em;
}
img
{
  border-style:none;
}
address img
{
  float:right;
}
